/* here you can put your own css to customize and override the theme */

.page-header{
  height: 75px;
}

.box-patient{
	> .m-grid-col {
		padding-bottom: 10px; 
		border-bottom: 1px solid #CCC;

		img{
			width: 60px;
			height: 60px;
		}
	}
}

.avatar{
  width: 120px; 
  height: 120px;
  margin-bottom: 10px; 
}

.wrap{
	height: 350px; 
	overflow: auto;
	.media-list{
		.media{
			padding: 5px;
			margin-top: 0px;

			img{
				width: 60px;
				height: 60px;
				margin: 0 10px;
				padding-right: 0px;
			}

			.media-body{
					padding: 20px 0;
			}
			&.selected{
				background-color: #E9EDEF;
			}
			&:hover{
				cursor: pointer;
				background-color: #E9EDEF;
			}
		}
	}
}

.tt-cursor {
	background-color: #659be0;
	color: #FFF;
}


.swal2-modal {
  
		-webkit-border-radius: 5px !important;                   
       -moz-border-radius: 5px !important;
            border-radius: 5px !important;

  .swal2-styled {
    
		-webkit-border-radius: 3px !important;                   
       -moz-border-radius: 3px !important;
            border-radius: 3px !important;

    &.swal2-loading {
			-webkit-border-radius: 100% !important;                   
	       -moz-border-radius: 100% !important;
	            border-radius: 100% !important;
    }
  }

  :not(.swal2-styled) {
    &.swal2-loading {
      &::after {
				-webkit-border-radius: 50% !important;                   
		       -moz-border-radius: 50% !important;
		            border-radius: 50% !important;
      }
    }
  }


  .swal2-input,
  .swal2-file,
  .swal2-textarea {
		-webkit-border-radius: 3px !important;                   
       -moz-border-radius: 3px !important;
            border-radius: 3px !important;
  }

  .swal2-validationerror {
    &::before {
			-webkit-border-radius: 50% !important;                   
	       -moz-border-radius: 50% !important;
	            border-radius: 50% !important;
    }
  }
}

.swal2-icon {
	-webkit-border-radius: 50% !important;                   
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;

  &.swal2-error {
    .line {
			-webkit-border-radius: 2px !important;                   
		     -moz-border-radius: 2px !important;
		          border-radius: 2px !important;
    }
  }


  &.swal2-success {
    &::before,
    &::after { // Emulate moving circular line      
			-webkit-border-radius: 50% !important;                   
		     -moz-border-radius: 50% !important;
		          border-radius: 50% !important;
    }

    &::before {
			-webkit-border-radius: 120px 0 0 120px !important;                   
		     -moz-border-radius: 120px 0 0 120px !important;
		          border-radius: 120px 0 0 120px !important;
    }

    &::after {
			-webkit-border-radius: 0 120px 120px 0 !important;                   
		     -moz-border-radius: 0 120px 120px 0 !important;
		          border-radius: 0 120px 120px 0 !important;
    }

    .placeholder { // Ring
			-webkit-border-radius: 50% !important;                   
		     -moz-border-radius: 50% !important;
		          border-radius: 50% !important;
    }

    .line {
			-webkit-border-radius: 2px !important;                   
		     -moz-border-radius: 2px !important;
		          border-radius: 2px !important;
    }
  }
}

.swal2-progresssteps {
  .swal2-progresscircle {
		-webkit-border-radius: 2em !important;                   
	     -moz-border-radius: 2em !important;
	          border-radius: 2em !important;
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}