<template>
<div>
	<div class="m-grid">
	  <div class="m-grid-row box-patient">
	      <div class="m-grid-col m-grid-col-md-12" style="padding: 12px 0 23px;">
          <div class="input-group">
  	          <input type="text" 
  	             		 id="search"
  	          			 name="tags" 
  	          			 class="form-control input-large" 
  	          			 placeholder="Digite a palavra-chave" 
  	          			 value="" 
  	          			 data-role="tagsinput" 
  	          		/>
                <span class="input-group-btn">
                    <button type="button" @click.prenvent="search" class="btn blue">
                        <i class="fa fa-search"></i> Filtrar</button>  
                </span>
          </div>
	      </div>
	  </div>
	</div>
	<div class="row margin-bottom-10 margin-top-10">
	  <div class="col-md-3 col-md-offset-9 text-right">
	    <div class="btn-group">
          <button type="button" class="btn btn-default" v-bind:class="[(exhibition=='list' ? 'active' : '')]" @click="changeListGrid('list')">
          	<i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default" v-bind:class="[(exhibition=='grid' ? 'active' : '')]" @click="changeListGrid('grid')">
          	<i class="fa fa-th" aria-hidden="true"></i>
          </button>
      </div>
	  </div>
	</div>
	
	<div class="wrap row slim-scroll">

  	<div v-bind:class="[(exhibition=='list' ? 'col-md-12' : 'col-md-3')]"
  			 v-for="photo in photos">
  			<div class="m-grid grid" v-if="(exhibition=='grid')">
  				<div class="m-grid-col m-grid-col-middle m-grid-col-center">
	          <img :src="'/images/medium/'+photo.photo"
	          	   class="thumbnail"
	          	   style="width: 100%" 
		          	 @click="editPhoto(photo)"
		          	/>
      	  </div>
    	  </div>

    	  <div class="m-grid list" v-else="(exhibition=='list')">
  				<div class="m-grid-col m-grid-col-md-3 m-grid-col-center">
	          <img :src="'/images/medium/'+photo.photo"
	          	   class="thumbnail" 
		          	 @click="editPhoto(photo)"  />
      	  </div>
      	  <div class="m-grid-col m-grid-col-md-9 m-grid-col-left" style="padding: 0 10px;">
      	  	<p><strong>Paciente: </strong> {{photo.patient.name}}</p>
      	  	<h4>Descrição</h4>
      	  	<p>{{photo.description}}</p>
      	  	<p><small>Última atualização: {{ photo.updated_at | moment }}</small></p>
    	  	</div>
    	  </div>
    </div>
    <div class="col-md-12"
    		 v-if="(!visible_photos && !photos.length)">
    	<p class="text-center">Nenhum registo encontrado.</p>
    </div>
    <div class="col-md-12 text-center"
         v-show="more_photos || visible_photos">
    	<button type="button" 
    					class="btn btn-link btn-xs"
    					@click="onInfinitePhotos()"
    					v-if="!visible_photos">
    					Mostrar mais
			</button>
			<p v-else>carregando...</p>
		</div>
    
	</div>
	 
  <div class="row" style="margin-top: 10px;" v-if="patient_id">
  	<div class="col-md-5 col-md-offset-7 text-right">
      <!--button class="btn btn-link btn-xs" @click.stop="unselectPatient()">Deselecionar paciente</button-->
    	<button class="btn blue" @click="upload(patient_id)"><i class="fa fa-upload"></i>Upload</button>
    </div>
  </div>

  <patient-photo-edit :photo="photo"></patient-photo-edit>
</div>
</template>

<style type="text/css">
	.list p, 
	.list h4{
		margin-top: 0;
		margin-bottom: 10px;
	}
	.list .thumbnail{
		width: 100%;
	}
	.wrap.row.slim-scroll img{
		cursor: pointer;
	}
  .tag > span{
    display: none;
  }
  .yellow-text{
    color: #f4e842 !important;
  }
</style>

<script>

		import { mapGetters, mapActions } from 'vuex'
		import swal from 'sweetalert2'
		import PatientPhotoEdit from './PatientPhotoEdit.vue'

    export default {
    		components: {
    			'patient-photo-edit' : PatientPhotoEdit
    		},
    		computed: {
    				...mapGetters({
			          photos: 'photos',
			          visible_photos: 'visible_photos',
			          patient_id: 'patient_id',
                more_photos: 'more_photos'
			      })
    		},
        filters: {
          moment: function (date) {
            return moment(date).format('D/MM/YYYY h:mm a');
          }
        },
        data(){
        	return {
        		exhibition: 'grid',
        		photo: {
              id: '',
              patient: {},
              photo: '',
              description: '',
              tagged: []
            }
        	}
        },
    		methods: {
    			...mapActions([
            'onInfinitePhotos'
          ]),
          changeListGrid(type){
          	this.exhibition = type
          },
    			upload: function(patient_id) {
    				eventBus.$emit('selectedPatient',{
                patient_id: patient_id,
                files: []
            });
    			},
    			editPhoto(objPhoto){

            var vue = this

    				this.photo = {
    					id: objPhoto.id,
              patient: objPhoto.patient,
    					photo: objPhoto.photo,
    					description: objPhoto.description,
    					tagged: []
    				}

    				$('#photo-edit').modal('show')

            var elt = $('#tagged')

            var tagsUnique = _.sortedUniq(objPhoto.tagged);
            
            this.photo.tagged = tagsUnique.map(tag => {
              return tag.tag_name
            })

            elt.data('tagsinput').input().val('')
            elt.tagsinput('removeAll')

            tagsUnique.forEach(tag => {
              elt.tagsinput('add', tag.tag_name)
            });

    			},
          search(){
            var items = $("#search").tagsinput('items')

            this.$store.dispatch('searchPhotos', { search: '', remove: false, on_search: true });             
          },
				},
				created(){
					this.onInfinitePhotos(true) 
				},
        mounted() {
	        var vue = this

          var taggeds = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/tags?query=%QUERY',
                    wildcard: '%QUERY',
                    filter: function (res) {
                        return $.map(res.data, function (tag) {
                            return { id: tag.id, name: tag.name };
                        });
                    }
                }
            });

            taggeds.initialize();

            var el = $('#search');       
            el.tagsinput({
                allowDuplicates: true,
                //freeInput: false,
                /*onTagExists: function(item, $tag) {
                  if(item != 'OR' && item != 'AND' && item != 'NOT'){
                    $tag.hide().fadeIn();  
                  }
                },*/
                tagClass: function(item) {
                  if(item.toUpperCase() == 'OR' || item.toUpperCase() == 'AND' || item.toUpperCase() == 'NOT' || 
                     item.toUpperCase() == '(' || item.toUpperCase() == ')'){
                    return 'label label-info yellow-text';
                  }else {
                    return 'label label-info';   
                  }
                },
                typeaheadjs: {
                    limit: 10,
                    name: 'taggeds',
                    displayKey: 'name',
                    valueKey: 'name',
                    source: taggeds.ttAdapter()
                }
            })
            el.data('tagsinput').input().on('typeahead:render', function(e, suggestions) {
                if (suggestions) {
                  if($(this).val() === suggestions.name)
                      return false;
                  var name = suggestions.name;
                  var menu = $('.tt-menu', this.parentNode);
                  $('.tt-suggestion', menu).first().addClass('tt-cursor');
                }
            });
            el.data('tagsinput').input().on('keyup', function(event) {
              var e = jQuery.Event("keydown");
              e.keyCode = e.which = 13; // 9 == tab
              
              if (event.which == 57 || event.which == 48){
                var val = $(this).val()
                var check = (val.toUpperCase() == '(' || val.toUpperCase() == ')')
            
                if(check){
                  el.tagsinput('add', $(this).val(), {preventPost: true});
                  event.preventDefault()  
                }
              }              
            }).on('keydown', function(event) {
              var e = jQuery.Event("keydown");
              e.keyCode = e.which = 13; // 9 == tab
              
              if (event.which == 32){
                var val = $(this).val()
                var check = (val.toUpperCase() == 'OR' || val.toUpperCase() == 'AND' || val.toUpperCase() == 'NOT' ||  val.toUpperCase() == '(' || val.toUpperCase() == ')')
            
                if(check){
                  el.tagsinput('add', $(this).val(), {preventPost: true});
                  event.preventDefault()  
                }
              }              
            });
            
            el.on('itemAdded', function(event){
              var tags = $(this).tagsinput('items');

              vue.$store.dispatch('searchPhotos', { search: event.item, remove: false, on_search: false });
            });
            el.on('itemRemoved', function(event) {
              vue.$store.dispatch('searchPhotos', { search: event.item, remove: true });
            });          
        }
    }
</script>