<template>
<div>
    <div class="m-grid">
        <div class="m-grid-row box-patient">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-3">
                <img src="/images/original/no-image.jpg" alt="" class="img-circle" />
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-8">
                <input type="text" 
                       name="search" 
                       v-model="search"
                       class="form-control" 
                       placeholder="Digite o nome do paciente"
                       v-on:keyup.stop="searchPatients(search)" />
            </div>
        </div>
    </div>
    <div class="wrap slim-scroll">

        <ul class="media-list">
            <li class="media"
                v-for="p in patients"
                :class="{ selected: p.selected }"
                @click.stop="checkSelectPatient(p.id, p.selected)">
                <img :src="'/images/profile/'+p.avatar" class="img-circle pull-left" />
                <div class="media-body"> 
                    <h4 class="media-heading pull-left">{{p.name}}</h4>
                    <i class="fa fa-edit pull-right" 
                       v-if="p.selected"
                       title="Editar paciente"
                      @click="checkSelectPatient(p.id, p.selected, p)"
                      style="margin-right: 5px; margin-top: 3px;"></i>
                </div>
            </li>
        </ul>

        <div class="text-center"
             v-if="(!visible && !patients.length)">
          <p>Nenhum registo encontrado.</p>
        </div>
        <div class="text-center"
             v-show="more_patients || visible">
          <p v-if="!visible">
            <button type="button" 
                  class="btn btn-link btn-xs"
                  @click="onInfinite()">
                  Mostrar mais
            </button>
          </p>
          <p v-else>carregando...</p>
        </div>
        
        
    </div>
    <div class="m-grid" 
         style="margin: 30px 0;">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-12">
                <button type="button" id="new-patient" @click.prevent="openFormPatient(patient)" class="btn blue"><i class="fa fa-plus"></i> Novo Paciente</button>
            </div>
        </div>
    </div>

    <patients-form :patient="patient"></patients-form>
</div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import PatientForm from './PatientForm.vue'

    export default {
        components: {
            'patients-form': PatientForm
        },
        data() {
            return {
              search: '',
              patient: { 
                  id: '', 
                  system_id: '',
                  name: '', 
                  gender: 'M', 
                  date_birth: '', 
                  avatar: 'no-image.jpg' 
                }
            };
        },
        computed: {
          ...mapGetters({
            patients: 'patients',
            visible: 'visible',
            more_patients: 'more_patients'
          })
        },
        methods: {
          ...mapActions([
                'onInfinite',
                'storePatient',
                'selectPatient',
                'searchPatients',
                'unselectPatient'
            ]),
            checkSelectPatient(id, selected, patient = null){
              if(!selected){
                this.selectPatient(id)
              } else if(patient != null) {
                this.openFormPatient(patient);
              } else if(!this.patient.id) {
                this.unselectPatient();  
              }
            },
            openFormPatient(patient){
              var vue = this

              vue.patient = {
                id: patient.id, 
                system_id: patient.system_id,
                name: patient.name, 
                gender: patient.gender, 
                date_birth: patient.date_birth, 
                avatar: patient.avatar 
              };

              $('#basic').modal('show');
              $('#basic').on('hidden.bs.modal', function () {                
                vue.patient = { name: '', system_id: '', gender: 'M', date_birth: '', id: '', avatar: 'no-image.jpg' };
              });
              
            }
        },
        created(){
          this.$store.dispatch('onInfinite', true) 
        }
    }
</script>