<template>
<div>
  <div class="modal fade bs-modal-lg" id="upload" tabindex="-1" role="upload" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Carregar Imagens</h4>
            </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- The fileinput-button span is used to style the file input field as button -->
                      <vue-clip :options="options" :on-init="init" :on-sending="sending" :on-complete="complete" :on-removed-file="removedfile" :on-added-file="addedFile">
                        <template slot="clip-uploader-action">
                            <div>
                                <div class="dz-message"><h2> Clique ou arraste e solte os arquivos aqui para upload </h2></div>
                            </div>
                        </template>
                        <template slot="clip-uploader-body" scope="props">
													<div class="m-grid">
		                        <div class="m-grid-row" v-for="(file, index) in files"
		                        												v-if="file.status != 'removed'"
		                        												style="padding: 10px 0;">
		                      		<div class="m-grid-col m-grid-col-md-2 m-grid-col-middle m-grid-col-top">
		                      			<img :src="file.dataUrl" alt="" />
		                      			<input type="hidden" name="photo" v-model="file.customAttributes.photo" />
		                      		</div>

		                          <div class="m-grid-col m-grid-col-md-7 m-grid-col-middle m-grid-col-left"
		                          		 v-show="file.progress == 100">
		                          	<textarea name="description"
		                                      class="form-control" 
		                                      placeholder="Digite a descrição da imagem" 
		                                   		v-model="file.customAttributes.description"    
		                                      @keyup="updateAttribute(file, 'description', file.customAttributes.description)"
		                                      rows="5" >
		                            </textarea>
		                            <input name="tagged"
		                                 	 class="form-control tagged"
		                                 	 v-model="file.customAttributes.tagged" 
		                                 	 data-role="tagsinput"
		                                 	 placeholder="Digite a palavras-chave" 
		                              />
		                          </div>

		                          <div class="m-grid-col m-grid-col-md-7 m-grid-col-middle m-grid-col-center"
		                          		 v-show="file.progress < 100">
		                          		<p>Enviando arquivo</p>
		                              <div class="progress progress-striped active" 
		                                   role="progressbar" 
		                                   aria-valuemin="0" 
		                                   aria-valuemax="100"
		                                   style="margin-top: 21px;">
		                                  <div class="progress-bar progress-bar-success" v-bind:style="{ width: file.progress + '%' }">
		                                  	{{ file.progress | parseInt }}%
		                                  </div>
		                              </div>
		                          </div>

		                          <div class="m-grid-col m-grid-col-md-3 m-grid-col-middle m-grid-col-center">
		                              <button type="button" class="btn red"
		                                      @click="removeFile(file, index)"
		                                      v-show="file.status == 'success'">
		                                  <i class="fa fa-trash"></i>
		                                  Apagar
		                              </button>
		                          </div>
		                        </div>
		                      </div>
                        </template>
                      </vue-clip>
                    </div>
                  </div>
                </div>
            <div class="modal-footer">
                <button type="button" @click.prevent="saveFiles()" class="btn green">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
</template>
<style type="text/css">
	.dz-clickable{
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
	}
	.dz-clickable h2{
		margin-top: 0;
		margin-bottom: 0;
	}
	.dz-drag-hover{
		border-style: solid;
	}
</style>
<script>
    import FileUpload from 'vue-upload-component'

    export default {
        props:['files', 'patient_id'],
        components: {
            FileUpload
        },
        data() {
            var vue = this
            return {
            	uploader: null,
          		options: {
				        url: '/api/patient-photos/upload',
				        paramName: 'photos',
				        //addRemoveLinks: true,
				        //dictRemoveFile: "Remove file",
				        //uploadMultiple: true
				      }
            }
        },
        methods: {
        	init (uploader){
        		this.uploader = uploader
        	},
		      sending (file, xhr, formData) {
	      		formData.append('patient_id', this.patient_id)
		      },
		      saveFiles(){
		      	var id, tagged, description, photo;
		      	var vm = this
		      	this.files.forEach(file => {
		      		id 					= file.customAttributes.id
		      		tagged 			= file.customAttributes.tagged
		      		description = file.customAttributes.description
		      		photo 			= file.customAttributes.photo

		      		vm.$store.dispatch('updatePhoto', {id: id, description: description, tagged: tagged, photo: photo });
		      	})
		      	$('#upload').modal('hide');
		      },
		      updateAttribute(file, key, value){
						file.addAttribute(key, value)
		      },
		      addedFile (file) {
		      	var findIndex = _.findIndex(this.files, o => { return o.name == file.name; });
		      	if(findIndex == -1){
		      		this.files.push(file)	
		      	}
		      },
		      complete (file, status, xhr) {
		        if(status != 'success')
		        	return false;

		        var response = JSON.parse(xhr.response)

		        file.addAttribute('id', response.data.id)
		        file.addAttribute('photo', response.data.photo)
		        file.addAttribute('description', '')
		        file.addAttribute('tagged', [])
		        

						var vue = this

						var taggeds = new Bloodhound({
						  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
						  queryTokenizer: Bloodhound.tokenizers.whitespace,
						  remote: {
						    url: '/api/tags?query=%QUERY',
						    wildcard: '%QUERY',
						    filter: function (res) {
						      return _.map(res.data, function (tag) {
						          return { name: tag.name };
						      });
						    }
						  }
						});

						taggeds.initialize();

						var el = $('.tagged');
						if(el.length){
						  el.tagsinput({
						    typeaheadjs: {
						      limit: 10,
						      name: 'taggeds',
						      displayKey: 'name',
						      valueKey: 'name',
						      source: taggeds.ttAdapter()
						    }
						  })
						  el.data('tagsinput').input().on('typeahead:render', function(e, suggestions) {
						    if (suggestions) {
						      if($(this).val() === suggestions.name)
						          return false;
						      var name = suggestions.name;
						      var menu = $('.tt-menu', this.parentNode);
						      $('.tt-suggestion', menu).first().addClass('tt-cursor');
						    }
						  });	
						  el.on('itemAdded', function(event){
	                var id = file.customAttributes.tagged.indexOf(event.item)
	                if(id == -1){
	                    file.customAttributes.tagged.push(event.item);    
	                }
	            });
	            el.on('itemRemoved', function(event) {
	                var id = file.customAttributes.tagged.indexOf(event.item)
	                file.customAttributes.tagged.splice(id, 1);
	            });
						}
		      },
		      removeFile(file, index){
		      	this.uploader.removeFile(file)
		      },
          removedfile(file) {
        		if(file.customAttributes.id){
	          	this.$http.delete('/api/patient-photos/'+file.customAttributes.id);
          	}
            var index = this.files.indexOf(file)
            if (index > -1) {
              this.files.splice(index, 1);
            }
          }
        }
    }

</script>