<template>
<div>
	<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
		<form action="" @submit.prevent="savePatient" method="POST" id="patient-store" role="form" data-vv-scope="patients">

			<input type="hidden" name="id" v-model="patient.id" class="form-control" />
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title" v-if="patient.id">Editar Paciente</h4>
						<h4 class="modal-title" v-else>Novo Paciente</h4>
					</div>
					<div class="modal-body">
							<div class="row">
								<div class="col-sm-4 text-center">
									<img :src="'/images/profile/'+patient.avatar" alt="" class="img-circle avatar" />
									<input type="hidden" name="avatar" id="avatar" v-model="patient.avatar" class="form-control" />
									<file-upload title="Trocar Avatar" 
												 post-action="/api/patients/avatar" 
												 class="btn btn-success"
												 name="avatar"                                                 
												 :accept="accept"
												 :extensions="gif,jpg,png,jpeg"
												 :multiple="false"
												 :files="files" 
												 :events="events"
												 ref='upload_avatar'>
													 
									</file-upload>
								</div>
								<div class="col-sm-8">
									<div :class="{'form-group': true, 'has-error' : errors.system_id}">
										<label for="system_id"><span class="required">*</span> ID</label>
										<input type="text" 
											   name="system_id" 
											   id="system_id" 
											   v-model="patient.system_id" 
											   class="form-control" 
											   autocomplete="off"
											   v-validate="'required'"
											   @focus="errors.system_id = false"
											   style="width: 100px" 
											/>
									</div>
									<div :class="{'form-group': true, 'has-error' : errors.name}">
										<label for="name"><span class="required">*</span> Nome</label>
										<input type="text" 
											   name="name" 
											   id="name" 
											   v-model="patient.name" 
											   class="form-control" 
											   autocomplete="off"
											   v-validate="'required'"
											   @focus="errors.name = false"
											/>
									</div>
									<div class="form-group" style="margin-bottom: 0;">
										<label for="gender">Gênero</label>
										<div class="mt-radio-inline">
											<label class="mt-radio">
												<input type="radio" 
													   name="gender" 
													   value="M"
													   v-model="patient.gender" 
													   > Masculino
												<span></span>
											</label>
											<label class="mt-radio">
												<input type="radio" 
													   name="gender" 
													   value="F" 
													   v-model="patient.gender" 
													   > Feminino
												<span></span>
											</label>
										</div>
									</div>
									<div :class="{'form-group': true, 'has-error' : errors.date_birth}">
										<label for="date_birth">Data Nascimento</label>
										<input type="text" 
											   name="date_birth" 
											   id="date_birth"
											   class="form-control" 
											   v-model="date_birth"
											   autocomplete="off" 
											/>
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn red" v-if="patient.id" v-on:click="deletePatient(patient.id)">Apagar</button>
						<button type="button" class="btn green btn-outline" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn green">Salvar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</form>
	</div>
</div>
</template>

<script>
	import Datepicker from 'vuejs-datepicker';
	import swal from 'sweetalert2'
	import FileUpload from 'vue-upload-component'
	import { focus } from 'vue-focus'
	

	export default {
		props: ['patient'],
		directives: { focus: focus },
		components: {
			swal,
			FileUpload
		},
		data() {
			var vue = this
			return {
				maskOptions: {
					mask: ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]
				},
				files: [],
				upload: [],
				errors: { name: false, date_birth: false },
				accept: 'image/*', 
				events: {
					add(file, component) {
						component.active = true;
						file.headers['X-Filename'] = encodeURIComponent(file.name)
						file.data.finename = file.name
					},
					after(file, component) {
						vue.patient.avatar = file.response.data.image
					}
				}
			}
		},
		computed: {
			date_birth: function () {				
				return (this.patient.date_birth && this.patient.date_birth != '-0001-11-30 00:00:00') ? moment(this.patient.date_birth).format('DD/MM/YYYY') : ''
			}
		},
		mounted() {
			this.upload = this.$refs.upload_avatar.$data
			$("#date_birth").mask("99/99/9999");
		},
		methods:{ 
			deletePatient(patient_id){
				var vue = this
				$('#basic').modal('hide')

				swal({
					title: 'Deseja excluir este paciente?',
					text: "Depois não será possível reverter!",
					type: 'question',
					showCancelButton: true,
					//confirmButtonColor: '#3085d6',
					//cancelButtonColor: '#d33',
					confirmButtonText: 'Sim, apagar agora!',
					cancelButtonText: 'Cancelar',
					confirmButtonClass: 'btn btn-success btn-sm',
					cancelButtonClass: 'btn btn-default btn-sm',
				}).then(function () {
					vue.$store.dispatch('deletePatient', patient_id)
					vue.$store.dispatch('onInfinitePhotos', true)
					swal(
						'Sucesso!',
						'Paciente removido.',
						'success'
					)
				})
			},
			savePatient(e){
				var vm = this

				var inputs  = $(e.target).serializeArray();

				var patient = { name: '', gender: 'M', date_birth: '', id: '', avatar: '' }

				inputs.forEach((input) => {
					switch(input.name){
						case 'id':
							patient.id = input.value;
						break;
						case 'system_id':
							patient.system_id = input.value;
						break;
						case 'name':
							patient.name = input.value;
						break;
						case 'gender':
							patient.gender = input.value;
						break;
						case 'date_birth':
							if(input.value){
								var date_birth = input.value
									date_birth = date_birth.split('/');
								patient.date_birth = date_birth[2]+'-'+date_birth[1]+'-'+date_birth[0];
							} else {
								patient.date_birth = '';
							}
						break;
						case 'avatar':
							patient.avatar = input.value;
						break;

					}
				})
				
				if(patient.id){
					this.$store.dispatch('updatePatient', patient).then(() => {
						$('#basic').modal('hide');
					}).catch(err => {
						if(err.data['name']){
							vm.errors.name = true
							toastr.warning('Os campos com asterisco (*) são obrigatórios!', 'Preenchimento obrigatório!')
						}
						if(err.data['date_birth']){
							vm.errors.date_birth = true
							toastr.warning('Por favor, digite uma data de nascimento correta', 'Preenchimento incorreto!')    
						}
					});      
				} else {
					this.$store.dispatch('storePatient', patient).then(() => {
						$('#basic').modal('hide');
					}).catch(err => {
						if(err.data['name']){
							vm.errors.name = true
							toastr.warning('Os campos com asterisco (*) são obrigatórios!', 'Preenchimento obrigatório!')
						}
						if(err.data['date_birth']){
							vm.errors.date_birth = true
							toastr.warning('Por favor, digite uma data de nascimento correta', 'Preenchimento incorreto!')    
						}
					});    
				}                
			}
		}
	}

</script>