<template>
<div>
    <div class="modal fade bs-modal-lg" id="photo-edit" tabindex="-1" role="basic" aria-hidden="true">
        <form action="javascript:void();" @submit.prevent="savePhoto" method="POST" id="photo-store" role="form" data-vv-scope="patients">
            <input type="hidden" name="id" v-model="photo.id" class="form-control" />
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Editar Imagem</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <img :src="'/images/medium/'+photo.photo" alt="" class="img-thumbnail" style="width: 100%; height: auto; margin-bottom: 10px;" />
                                <input type="hidden" 
                                       name="photo" 
                                       id="photo" 
                                       v-model="photo.photo" 
                                       class="form-control" />
                                <file-upload title="Trocar Foto" 
                                             :post-action="postAction" 
                                             class="btn btn-success"
                                             name="photos"                                                 
                                             :accept="accept"
                                             :extensions="gif,jpg,png,jpeg"
                                             :multiple="false"
                                             :files="files" 
                                             :events="events"
                                             v-show="!files.length"
                                             ref='upload_photo_edit'>
                                                 
                                </file-upload>
                                <div v-for="(file, index) in files">
                                    <div class="progress progress-striped active" 
                                         v-show="file.progress < 100"
                                         role="progressbar" 
                                         aria-valuemin="0" 
                                         aria-valuemax="100"
                                         style="margin-top: 21px;">
                                        <div class="progress-bar progress-bar-success" v-bind:style="{ width: file.progress + '%' }">
                                            {{ file.progress | parseInt }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="name">Descrição</label>
                                    <textarea name="description"
                                              id="description"
                                              class="form-control" 
                                              rows="5" 
                                              v-model="photo.description">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Palavras-chave</label>
                                    <input name="tagged"
                                           id="tagged"
                                           v-model="photo.tagged"
                                           class="form-control" 
                                           data-role="tagsinput">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" v-if="photo.id" v-on:click="deletePhoto(photo.id)">Apagar</button>
                        <button type="button" class="btn green btn-outline" data-dismiss="modal" @click="cancelUpload()">Cancelar</button>                    
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import swal from 'sweetalert2'
    import FileUpload from 'vue-upload-component'

    export default {
        props: ['photo'],
        components: {
            swal,
            FileUpload
        },
        data() {
            var vue = this
            return {
                files: [],
                upload: [],
                accept: 'image/*', 
                events: {
                    add(file, component) {
                        component.active = true;
                        file.headers['X-Filename'] = encodeURIComponent(file.name)
                        file.data.finename = file.name
                        file.data.photo_id = vue.photo.id
                        file.postAction = '/api/patient-photos/upload'
                    },
                    after(file, component) {
                        if(file.response.data){
                            vue.photo.photo = file.response.data.photo    
                        }
                        var index = vue.files.indexOf(file)
                        setTimeout(() => {
                            if (index != -1) {
                                vue.files.splice(index, 1);
                            }    
                        }, 1000)
                    }
                }
            }
        },
        mounted() {
            var vue = this
            this.upload = this.$refs.upload_photo_edit.$data   

            var taggeds = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/tags?query=%QUERY',
                    wildcard: '%QUERY',
                    filter: function (res) {
                        return _.map(res.data, function (tag) {
                            return { name: tag.name };
                        });
                    }
                }
            });

            taggeds.initialize();

            var el = $('#tagged');       
            el.tagsinput({
                tagClass: function(item) {
                    if(item.class == 'new'){
                        return 'label label-warning';   
                    } else {
                        return 'label label-info';   
                    }
                },
                typeaheadjs: {
                    limit: 10,
                    name: 'taggeds',
                    displayKey: 'name',
                    valueKey: 'name',
                    source: taggeds.ttAdapter()
                }
            })
            el.data('tagsinput').input().on('typeahead:render', function(e, suggestions) {
                if (suggestions) {

                    if($(this).val() === suggestions.name)
                        return false;
                    var name = suggestions.name;
                    var menu = $('.tt-menu', this.parentNode);
                    $('.tt-suggestion', menu).first().addClass('tt-cursor');
                }
            });
            el.on('itemAdded', function(event){
                var id = vue.photo.tagged.indexOf(event.item)
                if(id == -1){
                    vue.photo.tagged.push(event.item);    
                }
            });
            el.on('itemRemoved', function(event) {
                var id = vue.photo.tagged.indexOf(event.item)
                vue.photo.tagged.splice(id, 1);
            });
        },
        methods:{ 
            deletePhoto(photo_id){
                var vue = this
                $('#photo-edit').modal('hide')

                swal({
                    title: 'Deseja excluir esta imagem?',
                    text: "Depois não será possível reverter!",
                    type: 'question',
                    showCancelButton: true,
                    //confirmButtonColor: '#3085d6',
                    //cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, apagar agora!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success btn-sm',
                    cancelButtonClass: 'btn btn-default btn-sm',
                }).then(function () {
                    vue.$store.dispatch('deletePhoto', photo_id).then(res => {
                        swal(
                            'Sucesso!',
                            'Imagem removida.',
                            'success'
                        ).then(() => {
                            vue.$store.dispatch('onInfinitePhotos', true);
                        })
                    }, error => {
                        swal(
                            'Erro!',
                            'Imagem não foi removida.',
                            'error'
                        )
                    })                    
                })
            },
            savePhoto(e){

                var vue = this
                
                vue.$store.dispatch('updatePhoto', vue.photo);    

                $('#photo-edit').modal('hide');                
            },
            cancelUpload(){
                var vm = this
                var index;
                _.forEach(this.files, file => {
                    index = vm.files.indexOf(file)
                    if (index != -1) {
                        vm.files.splice(index, 1)
                        file.removed = true
                        file.xhr.abort()
                    }
                });
            }
        }
    }

</script>