<template>
<div>
  <div class="portlet light ">
    <div class="row">
  		<div class="col-sm-4">
  			<patients-search></patients-search>
  		</div>
  		<div class="col-sm-8">
  			<patients-photos></patients-photos>
  		</div>
  	</div>

    <patients-upload :patient_id="patient_id" :files="files"></patients-upload>
  </div>
</div>
</template>

<script>
    import PatientSearch from './PatientSearch.vue'
    import PatientPhotos from './PatientPhotos.vue'
    import PatientUpload from './PatientPhotosUpload.vue'


    export default{
        data(){
            return {
                patient_id: 0,
                files: []
            }
        },
        components:{
            'patients-search':PatientSearch,
            'patients-photos':PatientPhotos,
            'patients-upload': PatientUpload
        },
        mounted(){
            var vue = this

            eventBus.$on('selectedPatient', function (data) {
                var patient_id = data.patient_id;
                $('#upload').modal({
                  keyboard: false,
                  backdrop: 'static'
                })
                $('#upload').on('shown.bs.modal', function () {
                    vue.patient_id =  data.patient_id
                    vue.files =  []
                });
                $('#upload').on('hidden.bs.modal', function () {
                    vue.$store.dispatch('selectPatient', patient_id);
                    vue.patient_id =  0
                    vue.files =  []
                });
            });

          $('.slim-scroll').slimScroll({
              height: '350px',
              allowPageScroll: true, // allow page scroll when the element scroll is ended
              size: '7px',
              color: '#BBB',
              wrapperClass: 'slimScrollDiv',
              railColor: '#eaeaea',
              position: 'right',
              alwaysVisible: false,
              railVisible: true,
              disableFadeOut: false
          })
        }
    }


</script>