<template>
	<div>
		<div class="row">
			<div class="col-sm-6">
				<div class="portlet light">
					<div class="portlet-title">
		          <div class="caption">
		              <i class="icon-tag font-green-sharp"></i>
		              <span class="caption-subject font-green-sharp bold uppercase">Gerenciamento de Palavras-chave</span>
		          </div>
		      </div>
		      <div class="portlet-body">
		      	<div class="form">
			      	<div class="form-group">
			      		<input type="text" 
			      					 name="tag_name" 
			      					 id="tags"
			      					 class="form-control" 
			      					 v-model="tag_name"
			      					 @keyup.enter="createTags(tag_name)"
			      					 @keyup="searchTags"
			      					 placeholder="Digite aqui a nova palavra-chave e aperte Enter.">
			      	</div>
		      	</div>
	      		<div class="alert alert-info"
	      				 v-show="!tags.length">
            	Nenhuma palavra-chave encontrada
          	</div>
		      	<table class="table" v-show="tags.length">
							<thead>
								<tr>
									<th>Tag</th>
									<th>Total Usado</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(tag, index) in tags_reverse" track-by="id">
									<td>
					      		<input type="text" 
					      					 name="tags" 
					      					 :id="'tags'+index"
					      					 class="form-control" 
					      					 :value="tag.name"
					      					 @focus="onSelect(tag.id)"
					      					 @keyup.space="removeSpace"
					      					 @keyup.enter="editTag(tag, index)">
									</td>
									<td>{{ tag.count }}</td>
									<td>
										<a href="" @click.prevent="editTag(tag, index)" class="btn btn-icon-only blue" :id="'edit'+index" v-if="tag.selected"><i class="fa fa-check"></i></a>
										<a href="" @click.prevent="deleteTag(tag, index)" class="btn btn-icon-only red" :id="'trash'+index" v-else><i class="fa fa-trash"></i></a>
									</td>
								</tr>
							</tbody>
						</table>

						<v-paginator ref="vpaginator" :resource_url="resource_url" :options="options" @update="getTags"></v-paginator>

		      </div>
				</div>
			</div>
		</div>
	</div>	
</template>

<script>
	import VuePaginator from 'vuejs-paginator'
	import swal from 'sweetalert2'
	import { focus } from 'vue-focus'

	export default {
		directives: { focus: focus },
		components: {
		  VPaginator: VuePaginator,
		  swal
		},
		data(){
      return {
        tag_id: 0,
        search: '',
        tags: [],
        tag_name: '',
        resource_url: '/api/tags',
        options: {
		      //remote_data: 'nested.data',
		      remote_current_page: 'data.current_page',
		      remote_last_page: 'data.last_page',
		      remote_next_page_url: 'data.next_page_url',
		      remote_prev_page_url: 'data.prev_page_url',
		      next_button_text: 'Próximo',
		      previous_button_text: 'Anterior'
		    }
      }
    },
    computed: {
			tags_reverse(event){
				return this.tags.reverse()
			}
    },
    methods: {
    	removeSpace(event){
    		$(event.srcElement).val((index, value) => value.replace(' ', '') )
    	},
    	searchTags(event){
    		if(event.keyCode == 32){
    			this.tag_name = this.tag_name.replace(' ', '')
    			return false;
    		}
  			this.$refs.vpaginator.fetchData('/api/tags?search='+this.tag_name)	
    	},
    	getTags(data){
      	this.tags = _.map(data.data, (tag) => {
      		return { 
      							id: tag.id, 
      							name: tag.name, 
      							slug: tag.slug, 
      							suggest: tag.suggest, 
      							tag_group_id: tag.tag_group_id, 
      							count: tag.count,
      							selected: false
    						}
      	})
    	},
    	onSelect(id){
    		this.tags.forEach(tag => {
          tag.selected = false;
          if(tag.id === id){
            tag.selected = true
          }
        });
    	},
    	unSelect(){
				this.tags.forEach(tag => {
	        tag.selected = false;
	      });
    	},
    	editTag(tag, index){
    		var vm = this
    		var value = $('#tags'+index).val()

    		if(value === tag.name){
    			swal('Ops..', 'Palavras não foi modificada!', 'error')
    			return false;
    		}

    		swal({
          title: 'Esta tag está sendo usada por '+tag.count+' imagens.',
          text: "Tem certeza que deseja alterar?",
          type: 'question',
          showCancelButton: true,
          confirmButtonText: 'Sim!',
          cancelButtonText: 'Cancelar',
          confirmButtonClass: 'btn red btn-sm',
          cancelButtonClass: 'btn btn-default btn-sm',
        }).then(function () {
          vm.$http.put('/api/tags/'+tag.id, { name: value }).then(res => {
						var data = res.data
						var tagUpdated = data.data
						vm.tags.forEach(tag => {
							if(tagUpdated.id == tag.id){
								tag.name = tagUpdated.name;	
								tag.count = tagUpdated.count;	
							}
		          tag.selected = false;
		        });
					}).catch(res => {
						swal(
			            'Error!',
			            'Palavras-chave já existe.',
			            'error'
			        );
					});

        }).catch(err => {
        	$('#tags'+index).val(tag.name)
        	vm.unSelect()
        })
    	},
    	createTags(tag_name){
    		var vue = this
    		if(tag_name === '')
    			return false;

				vue.$http.post('/api/tags', { name: tag_name }).then(res => {
					var tagCreate = res.data.data
					vue.tags.push({ 
      							id: tagCreate.id, 
      							name: tagCreate.name, 
      							slug: tagCreate.slug, 
      							suggest: 0, 
      							tag_group_id: 0, 
      							count: 0,
      							selected: false
    						})

				}).catch(res => {
					swal(
		            'Error!',
		            'Palavras-chave já existe.',
		            'error'
		        );
				});

				vue.tag_name = ''
    	},
    	deleteTag(tag, index){
    		var vue = this
    		swal({
          title: 'Deseja excluir esta palavra?',
          text: "Depois não será possível reverter!",
          type: 'question',
          showCancelButton: true,
          //confirmButtonColor: '#3085d6',
          //cancelButtonColor: '#d33',
          confirmButtonText: 'Sim, apagar agora!',
          cancelButtonText: 'Cancelar',
          confirmButtonClass: 'btn red btn-sm',
          cancelButtonClass: 'btn btn-default btn-sm',
        }).then(function () {
          vue.$http.delete('/api/tags/'+tag.id).then(res => {
		        swal(
		            'Sucesso!',
		            'Palavras-chave removida.',
		            'success'
		        ).then( () => {
		        	setTimeout(() => vue.tags.splice(index, 1), 1000)
		        })
          })
        })
    	}
    }


	}
</script>